*{
    padding: 0;
    margin: 0;
    background: #000;
    color: white;
}
#container{
    margin-top: 100px;
    margin-left: 400px;
}
h1{
    color: aqua;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}
h2{
    color: rgb(78, 113, 255);
    font-size: 40px;margin-bottom: 100px;
}
#game{
    height: 200px;
    width: 800px;
    border: 1px solid #f2ff00;
}
#character{
    width: 20px;
    height: 50px;
    position: relative;
    top: 150px;
    left: 50px;
}
.animate{
    animation: jump 500ms infinite;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
#dino{
    position: relative;
}
#block{
    height: 20px;
    width: 20px;
    position: relative;
    background: rgb(255, 5, 205);
    top: 130px;
    left: 780px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left:780px;}
    100%{left:0px;}
}